@font-face {
    font-family: "Montserrat";
    src: url("resources/fonts/Montserrat-Medium.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("resources/fonts/Montserrat-Bold.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Fraunces";
    src: url("resources/fonts/Fraunces-Bold.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

body {
    background-color: hsl(30, 38%, 92%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

button {
    border: none;
    background-color: unset;
    cursor: pointer;
    justify-content: center;
}

.sr-only {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

.icon {
    margin-right: 0.625rem;
}

.main-button {
    display: flex;
    background-color: hsl(158, 36%, 37%);
    color: white;
    padding: 0.9375rem 0.625rem;
    font-size: 0.875rem;
    font-weight: 600;
    border-radius: 0.625rem;
}

.product {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    margin:auto;
    max-width: 39.375rem;
    border-radius: 0.9375rem;
    box-sizing: border-box;
    background-color: hsl(0, 0%, 100%);
    color: hsl(228, 12%, 48%);
    overflow: hidden;
}

.product-preview {
    width: 50%;
    background-image: url(resources/images/image-product-desktop.jpg);
    background-size: cover;
    background-position: center;
}

.product-info {
    display: flex;
    flex-direction: column;
    width: 50%;
    flex-grow: 1;
    padding: 2.1875rem;
    box-sizing: border-box;
    font-size: 0.875rem;
}

.product-type {
    font-size: 0.75rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3pt;
}

.product-title {
    font-family: Fraunces;
    font-size: 2.1875rem;
    color: black;
    line-height: 2.1875rem;
    margin: 1.25rem 0px;
}

.product-detaile {
    line-height: 1.375rem;
}

.product-prices {
    display: flex;
    align-items: center;
    margin: 1.5625rem 0px;
}

.curr-price {
    color: hsl(158, 36%, 37%);
    font-size: 2.1875rem;
    font-family: Fraunces;
    margin-right: 1.25rem;
}

.old-price {
    text-decoration: line-through;
    font-size: 0.75rem;
}

.product-button {
    width: 100%;
    transition: background-color .3s ease-in-out;
}

.product-button:hover {
    background-color: hsl(158, 42%, 18%);
    ;

}



.attribution {
    font-size: 0.875rem;
    text-align: center;
    position: absolute;
    bottom: 0.625rem;
}

.attribution a {
    text-decoration: none;
    color: hsl(158, 36%, 37%);
    font-weight: 700;
}

@media (max-width: 41.25rem) {
    .product {
        width: 92%;
        max-width: 23.4375rem;
    }

    .product-preview {
        height: 30vh;
        background-image: url(resources/images/image-product-mobile.jpg);
        width: 100%;
    }

    .product-info {
        width: 100%;
        padding: 1.5625rem;
    }

    .product-title {
        font-size: 2rem;
        margin: 0.625rem 0px 0.9375rem 0px;
    }

    .product-prices {
        margin: 1.25rem 0px 0.9375rem 0px;
    }
}