@font-face {
    font-family: "Outfit";
    src: url("resources/fonts/Outfit-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Outfit";
    src: url("resources/fonts/Outfit-Bold.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Outfit, sans-serif;
}

:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

body {
    background-color: var(--Light-gray);
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 3.125rem;
    justify-content: center;
    align-items: center;

}

.sr-only {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 18.5rem;
    margin: auto;
    box-shadow: 0 1.25rem 1.25rem 0.0625rem hsl(212deg 33% 81%);
    padding: 1rem;
    border-radius: 0.9375rem;
    text-align: center;
    font-size: 0.9375rem;
    background-color: var(--White);
}

.card-qr-code {
    border-radius: 0.5rem;
}

.card-title {
    margin: 1.3rem 0 0.9375rem 0;
    font-size: 1.3125rem;
    color: var(--Dark-blue);
}

.card-detaile {
    margin-bottom: 1.25rem;
    color: var(--Grayish-blue);
}

.attribution {
    font-size: 0.875rem;
    text-align: center;
    padding: 0.625rem;
}

.attribution a {
    text-decoration: none;
    color: var(--Dark-blue);
    font-weight: 700;
}

@media (max-width: 20rem) {
    .card {
        width: 90vw;
    }
}