@font-face {
    font-family: "Outfit";
    src: url("resources/fonts/Outfit-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: Outfit, sans-serif;
}

:root {
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --Very-dark-blue-BG: hsl(217, 54%, 11%);
    --Very-dark-blue-card: hsl(216, 50%, 16%);
    --Very-dark-blue-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}

body {
    background-color: var(--Very-dark-blue-BG);
    display: grid;
    grid-template-rows: auto 3.125rem;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sr-only {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

.link {
    text-decoration: none;
    color: unset;
    transition: .2s ease;
}

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 21.875rem;
    height: 34.375rem;
    padding: 1.5625rem;
    border-radius: 0.9375rem;
    box-sizing: border-box;
    background-color: var(--Very-dark-blue-card);
    color: var(--Soft-blue);
}

.card-preview {
    position: relative;
    width: 100%;
}

.card-preview::before {
    content: url(resources/images/icon-view.svg);
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: hsl(178deg 100% 50% / 60%);
    border-radius: 0.625rem;
    justify-content: center;
    align-items: center;
}

.card-preview:hover::before {
    opacity: 1;
}

.card-img {
    width: 100%;
    height: 100%;
    border-radius: 0.625rem;
}

.img {
    width: 100%;
    height: 100%;
    border-radius: 0.625rem;
    object-fit: contain;
}

.icon {
    margin-right: 0.3125rem;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;
}

.card-title {
    color: var(--White);
    font-weight: 600;
    font-size: 1.5rem;
}

.card-title:hover {
    color: var(--Cyan);
    transition: 0.5s;
}

.card-detaile {
    display: flex;
    justify-content: space-between;
}

.card-detaile>p {
    display: flex;
    align-items: center;
}

.card-price {
    font-weight: 600;
    color: var(--Cyan);
}

.card-creator {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 0.0625rem solid var(--Very-dark-blue-line);
    height: 1.5625rem;
    padding: 1.5625rem 0 0 0;
}

.creator-avatar {
    height: 100%;
    border-radius: 50%;
    border: 0.0625rem solid var(--White);
    margin-right: 0.9375rem;
}

.creator-name {
    color:var(--White);
}

.creator-name:hover {
    color: var(--Cyan);
    transition: 0.5s;
}

.attribution {
    font-size: 0.875rem;
    text-align: center;
    padding: 0.625rem;
    color: var(--White);
}

.attribution a {
    color: var(--Soft-blue);
}